<p id="notice"><%= notice %></p>

<h1>Listing Attack Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Attack</th>
      <th>Attack type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attack_types.each do |attack_type| %>
      <tr>
        <td><%= attack_type.name %></td>
        <td><%= attack_type.description %></td>
        <td><%= attack_type.attack %></td>
        <td><%= attack_type.attack_type %></td>
        <td><%= link_to 'Show', attack_type %></td>
        <td><%= link_to 'Edit', edit_attack_type_path(attack_type) %></td>
        <td><%= link_to 'Destroy', attack_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attack type', new_attack_type_path %>
