<p id="notice"><%= notice %></p>

<p>
  <strong>Attack:</strong>
  <%= @attack_type.attack %>
</p>

<p>
  <strong>Crit chance:</strong>
  <%= @attack_type.crit_chance %>
</p>

<p>
  <strong>Crit dmg:</strong>
  <%= @attack_type.crit_dmg %>
</p>

<p>
  <strong>Character:</strong>
  <%= @attack_type.character_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @attack_type.item_id %>
</p>

<p>
  <strong>Attack type template:</strong>
  <%= @attack_type.attack_type_template_id %>
</p>

<%= link_to 'Edit', edit_attack_type_path(@attack_type) %> |
<%= link_to 'Back', attack_types_path %>
