<%- model_class = Monster -%>
<div class="profile-panel bit-content orange-gray">
  <div class="page-header">
    <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Image</th>
      <th><%= image_tag('my_icons/knight.png', size: '80x80', title: 'имя монстра') %></th>
      <th><%= image_tag('my_icons/letter.png', size: '80x80', title: 'описание монстра') %></th>
      <th><%= image_tag('my_icons/hp1.png', size: '80x80', title: 'здоровье') %></th>
      <th><%= t '.actions', :default => t("helpers.actions") %></th>
    </tr>
    </thead>
    <tbody>
    <% @monsters.each do |monster| %>
        <tr>
          <td><%= image_tag(monster.image.image_content.url()) if monster.image%></td>
          <td><%= monster.name %></td>
          <td><%= monster.desc %></td>
          <td><%= monster.hp %></td>
          <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        monster_path(monster), :class => 'btn btn-bit btn-lg outline' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_monster_path(monster), :class => 'btn btn-bit btn-lg outline' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        monster_path(monster),
                        :method => :delete,
                        :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                        :class => 'btn btn-bit btn-lg red' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_monster_path,
              :class => 'btn btn-bit btn-lg green' %>


  <div class="footer">
    <%= link_to t('helpers.links.back', :default => t("helpers.links.back")),
                table_index_path,
                :class => 'btn btn-bit btn-lg outline' %>
  </div>
</div>