<p id="notice"><%= notice %></p>

<h1>Listing Weeknesses</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Percent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weeknesses.each do |weekness| %>
      <tr>
        <td><%= weekness.type %></td>
        <td><%= weekness.percent %></td>
        <td><%= link_to 'Show', weekness %></td>
        <td><%= link_to 'Edit', edit_weekness_path(weekness) %></td>
        <td><%= link_to 'Destroy', weekness, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weekness', new_weekness_path %>
