<div class="attack_types_content fields">
  <!--TODO ПРИДУМАТЬ КАКИЕ ИКОНКИ НАФИГАЧИТЬ И СЮДА-->
  <!--TODO НАВЕРНОЕ СТОИТ ВЕРНУТЬ ТАБЛИЦУ И ФИГАЧИТЬ СТРОКАМИ-->
  <%= f.input :name, input_html: {class: 'form-control'} %>
  <%= f.input :desc, input_html: {class: 'form-control'} %>
  <%= f.input :attack_type, as: :select, label: 'Attack_type', collection: %w(physical fire water earth holy necrotic nature), input_html: {class: 'form-control'} %>
  <div><%= f.input :attack, as: :range, input_html: {class: 'slider'} %></div>
  <%= f.input :crit_chance, label: 'Crit_chance', input_html: {class: 'form-control', placeholder: '%',style:'width:200px'} %>
  <%= f.input :crit_dmg, as: :range, label: 'Crit_damage', input_html: {class: 'slider'} %></td>
  <div class="remove">
    <%= link_to_remove_fields '<i class="glyphicon glyphicon-remove"></i>', f, 'btn btn-bit btn-tn red' %>
  </div>
</div>