<div class="col-md-6">
  <div class=" icons-group">
    <%= image_tag('my_icons/knight.png', size: '128x128', title: 'имя героя') %>
    <%= f.input :name, label: false, input_html: {class: 'form-control'} %>
  </div>
  <div class=" icons-group">
    <%= image_tag('my_icons/letter.png', size: '128x128', title: 'описание героя', class: 'text') %>
    <%= f.input :description, label: false, input_html: {:cols => 19, :rows => 5, class: 'form-control'} %>
  </div>
  <div class=" icons-group">
    <%= image_tag('my_icons/question.png', size: '128x128', title: 'основной параметр') %>
    <%= f.input :main_param, as: :select, label: false, collection: %w(agility strange intellect), input_html: {class: 'form-control right'} %>
  </div>
</div>
<div class="col-md-6">
  <div class=" icons-group">
    <%= image_tag('my_icons/hp1.png', size: '90x90', title: 'здоровье') %>
    <%= f.input :hp, label: false, input_html: {min: '1', step: 'any', class: 'form-control'} %>
  </div>
  <div class=" icons-group">
    <%= image_tag('my_icons/strength.png', size: '90x90', title: 'сила') %>
    <%= f.input :strength, label: false, input_html: {min: '0', step: 'any', class: 'form-control'} %>
  </div>
  <div class=" icons-group">
    <%= image_tag('my_icons/intellect.png', size: '90x90', title: 'интеллект') %>
    <%= f.input :intellect, label: false, input_html: {min: '0', step: 'any', class: 'form-control'} %>
  </div>
  <div class=" icons-group">
    <%= image_tag('my_icons/agility.png', size: '90x90', title: 'ловкость') %>
    <%= f.input :agility, label: false, input_html: {min: '0', step: 'any', class: 'form-control'} %>
  </div>
</div>




