<div class="scroll">
  <div class=" icons-group">
    <%= image_tag('my_icons/hp1.png', size: '50x50', title: 'здоровье') %>
    <%= f.input :hp, label: false, input_html: {min: '1', step: 'any', class: 'form-control'} %>
    <%= image_tag('my_icons/mp.png', size: '50x50', title: 'мана') %>
    <%= f.input :mp, label: false, input_html: {min: '1', step: 'any', class: 'form-control'} %>
    <%= image_tag('my_icons/mp.png', size: '50x50', title: 'мана') %>
    <%= f.input :haste, label: false, input_html: {min: '1', step: 'any', class: 'form-control'} %>
  </div>
  <div class=" icons-group">
    <%= image_tag('my_icons/intellect.png', size: '50x50', title: 'интеллект') %>
    <%= f.input :intellect, label: false, input_html: {min: '0', step: 'any', class: 'form-control'} %>
    <%= image_tag('my_icons/agility.png', size: '50x50', title: 'ловкость') %>
    <%= f.input :agility, label: false, input_html: {min: '0', step: 'any', class: 'form-control'} %>
    <%= image_tag('my_icons/strength.png', size: '50x50', title: 'сила') %>
    <%= f.input :strength, label: false, input_html: {min: '0', step: 'any', class: 'form-control'} %>
  </div>
</div>





