<div>
 <%= f.input :name %>
</div>
<div>
  <%#= error_span(@character_template[:name]) %>
  <%= f.input :description %>
</div>
<div>
  <%#= error_span(@character_template[:description]) %>
  <%= f.input :hp %>
</div>
<div>
  <%#= error_span(@character_template[:hp]) %>
  <%= f.input :strength %>
</div>
<div>
  <%#= error_span(@character_template[:strength]) %>
  <%= f.input :intellect %>
</div>
<div>
  <%#= error_span(@character_template[:intellect]) %>
  <%= f.input :agility %>
  <%#= error_span(@character_template[:agility]) %>
</div>





