<%= f.error_notification %>
<div class="col-md-6">
  <div class="floating-placeholder">
    <%= f.input :name, autocomplete: false %>
  </div>
  <div class="floating-placeholder">

    <%= f.input :description, label: 'Desc', input_html: {:cols => 19, :rows => 5} %>
  </div>
</div>
<div class="col-md-6">
  <div class="floating-placeholder">
    <%= f.input :hp, input_html: {min: '1', step: 'any'} %>
  </div>
  <div class="floating-placeholder">
    <%= f.input :strength, input_html: {min: '0', step: 'any'} %>
  </div>
  <div class="floating-placeholder">
    <%= f.input :intellect, input_html: {min: '0', step: 'any'} %>
  </div>
  <div class="floating-placeholder">
    <%= f.input :agility, input_html: {min: '0', step: 'any'} %>
  </div>
</div>





