<%= f.error_notification %>
<tr class="fields item">
  <!--TODO ПРИЦЕПИТЬ ИКОНКИ ВМЕСТО НАЗВАНИЙ-->
  <td>
    <%= image_tag('my_icons/physical.png', size: '128x128', style: 'margin-bottom: 10px', title: 'physical resist') %>
    <%= f.input :physical, label: false, input_html: {min: '-100', max: '100', step: 'any', class: 'form-control'} %>
  </td>
  <td>
    <%= image_tag('my_icons/fire.png', size: '128x128', style: 'margin-bottom: 10px', title: 'fire resist') %>
    <%= f.input :fire, label: false, input_html: {min: '-100', max: '100', step: 'any', class: 'form-control'} %>
  </td>
  <td>
    <%= image_tag('my_icons/water.png', size: '128x128', style: 'margin-bottom: 10px', title: 'water resist') %>
    <%= f.input :water, label: false, input_html: {min: '-100', max: '100', step: 'any', class: 'form-control'} %>
  </td>
  <td>
    <%= image_tag('my_icons/earth.png', size: '128x128', style: 'margin-bottom: 10px', title: 'earth resist') %>
    <%= f.input :earth, label: false, input_html: {min: '-100', max: '100', step: 'any', class: 'form-control'} %>
  </td>
  <td>
    <%= image_tag('my_icons/holy.png', size: '128x128', style: 'margin-bottom: 10px', title: 'holy resist') %>
    <%= f.input :holy, label: false, input_html: {min: '-100', max: '100', step: 'any', class: 'form-control'} %>
  </td>
  <td>
    <%= image_tag('my_icons/necrotic.png', size: '128x128', style: 'margin-bottom: 10px', title: 'necrotic resist') %>
    <%= f.input :necrotic, label: false, input_html: {min: '-100', max: '100', step: 'any', class: 'form-control'} %>
  </td>
  <td>
    <%= image_tag('my_icons/nature.png', size: '128x128', style: 'margin-bottom: 10px', title: 'nature resist') %>
    <%= f.input :nature, label: false, input_html: {min: '-100', max: '100', step: 'any', class: 'form-control'} %>
  </td>
  <%= f.input :character_template_id, as: :hidden %>
</tr>