<%- model_class = CharacterTemplate -%>
<div class="row">
  <div class="profile-bg bit-border orange-gray">
    <div class="page-header">
      <h1><%= t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
    </div>
    <%= simple_form_for @character_template, :html => {:class => 'form-horizontal'} do |f| %>
        <%= render :partial => 'form', locals: {:f => f} %>

        <%= f.simple_fields_for :image do |p| %>
            <%= p.input :image, as: :file, label: false %>
        <% end %>


        <%= f.button :submit, :class => 'btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    character_templates_path, :class => 'btn btn-default' %>
    <% end %>

  </div>

</div>