<!--TODO ПЕРЕДЕЛАТЬ ВСЕ -->
<%- model_class = CharacterTemplate -%>
<div class="profile-panel bit-content orange-gray">

  <div class="page-header">
    <h1>Описание Героя</h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div style="width: 304px; border: 2px solid orange">
        <%= (image_tag @character_template.image.image_content.url(:large), size: '300x300') if !@character_template.image.nil? %>
      </div>
      <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd><%= @character_template.name %></dd>
        <dt>Desc:</dt>
        <dd><%= @character_template.description %></dd>
        <dt><strong><%= model_class.human_attribute_name(:hp) %>:</strong></dt>
        <dd><%= @character_template.hp %></dd>
        <dt><strong><%= model_class.human_attribute_name(:strength) %>:</strong></dt>
        <dd><%= @character_template.strength %></dd>
        <dt><strong><%= model_class.human_attribute_name(:intellect) %>:</strong></dt>
        <dd><%= @character_template.intellect %></dd>
        <dt><strong><%= model_class.human_attribute_name(:agility) %>:</strong></dt>
        <dd><%= @character_template.agility %></dd>
      </dl>

    </div>
    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <li class="active">
          <a class="tab_images" href="#resists" data-toggle="tab"><%= image_tag('free_icons/tome.png', size: '90x90', title: 'character resists') %></a>
        </li>
        <li>
          <a href="#attacks" data-toggle="tab"><%= image_tag('my_icons/attack.png', size: '90x90', title: 'attack_types') %></a>
        </li>
        <li>
          <a class="tab_images" href="#bag" data-toggle="tab"><%= image_tag('free_icons/backpack.png', size: '90x90', title: 'bag_template') %></a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="resists">
          <h4>Сопротивления</h4>
          <% if !@character_template.resist_template.nil? %>
              <div class="content resist_content">
                <div>
                  <%= image_tag('my_icons/physical.png', size: '100x100', style: 'margin-bottom: 10px', title: 'physical resist') %>
                  <%= @character_template.resist_template.physical %>%
                </div>
                <div>
                  <%= image_tag('my_icons/fire.png', size: '100x100', style: 'margin-bottom: 10px', title: 'fire resist') %>
                  <%= @character_template.resist_template.fire %>%
                </div>
                <div>
                  <%= image_tag('my_icons/water.png', size: '100x100', style: 'margin-bottom: 10px', title: 'water resist') %>
                  <%= @character_template.resist_template.water %>%
                </div>
                <div>
                  <%= image_tag('my_icons/earth.png', size: '100x100', style: 'margin-bottom: 10px', title: 'earth resist') %>
                  <%= @character_template.resist_template.earth %>%
                </div>
                <div>
                  <%= image_tag('my_icons/holy.png', size: '100x100', style: 'margin-bottom: 10px', title: 'holy resist') %>
                  <%= @character_template.resist_template.holy %>%
                </div>
                <div>
                  <%= image_tag('my_icons/necrotic.png', size: '100x100', style: 'margin-bottom: 10px', title: 'necrotic resist') %>
                  <%= @character_template.resist_template.necrotic %>%
                </div>
                <div>
                  <%= image_tag('my_icons/nature.png', size: '100x100', style: 'margin-bottom: 10px', title: 'nature resist') %>
                  <%= @character_template.resist_template.nature %>%
                </div>
              </div>
          <% end %>
        </div>
        <div class="tab-pane" id="attacks">
          <% @character_template.attack_type_templates.each do |attack| %>
              <div><%= attack.name %></div>
              <div><%= attack.desc %></div>
              <div><%= attack.target %></div>
              <div><%= attack.cost_type %></div>
              <div><%= attack.cost %></div>
              <div><%= attack.attack_type %></div>
              <div><%= attack.attack %></div>
              <div><%= attack.crit_rate %></div>
              <div><%= attack.crit_chance %></div>

          <% end %>
        </div>
        <div class="tab-pane" id="bag">
          <h4>GOLD</h4>
          <br>
          <div><%= @character_template.bag_template.gold %></div>
          <br>
          <h4>Предметы</h4>
          <% @character_template.bag_template.item_templates.each do |item| %>
              <!--TODO CТИЛИЗОВАТь-->
              <div style="display: inline-block; margin: 5px; border: 1px solid orange">
                <div title="

                  Описание предмета

                  <%= item.name %>
                  <%= item.description %>
                  <%= item.item_type %>
                  <%= item.strength %>
                  <%= item.intellect %>
                  <%= item.agility %>
                  <%= item.purchasable %>
                  <%= item.sell_cost %>
                  <%= item.buy_cost %>

                  Бонусы сопротивления

                  <%= item.resist_template.physical %>
                  <%= item.resist_template.fire %>
                  <%= item.resist_template.water %>
                  <%= item.resist_template.earth %>
                  <%= item.resist_template.holy %>
                  <%= item.resist_template.necrotic %>
                  <%= item.resist_template.nature %>

                  Тип Атаки

                  <%= item.attack_type_template.name %>
                  <%= item.attack_type_template.desc %>
                  <%= item.attack_type_template.target %>
                  <%= item.attack_type_template.cost_type %>
                  <%= item.attack_type_template.cost %>
                  <%= item.attack_type_template.attack_type %>
                  <%= item.attack_type_template.attack %>
                  <%= item.attack_type_template.crit_rate %>
                  <%= item.attack_type_template.crit_chance %>

                "><%= (image_tag item.image.image_content.url) if !item.image.nil? %></div>
              </div>
          <% end %>
        </div>
      </div>


    </div>

  </div>


  <div class="footer">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                character_templates_path, :class => 'btn btn-bit btn-lg outline' %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_character_template_path(@character_template), :class => 'btn btn-bit btn-lg outline' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                character_template_path(@character_template),
                :method => 'delete',
                :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                :class => 'btn btn-bit btn-lg red' %>
  </div>

</div>