<%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :attack %>
    <%= f.input :attack_type %>
    <%= f.input :character_template_id, as: :hidden, input_html: { value: f.object_id}%>
  </div>
