<%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description, label: 'Desc', input_html: { :cols => 19, :rows => 5 } %>
    <%= f.input :attack %>
    <%= f.input :attack_type %>
    <%= f.input :character_template_id, as: :hidden%>
  </div>
