<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attack_type_template.name %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @attack_type_template.attack %>
</p>

<p>
  <strong>Attack type:</strong>
  <%= @attack_type_template.attack_type %>
</p>

<p>
  <strong>Crit chance:</strong>
  <%= @attack_type_template.crit_chance %>
</p>

<p>
  <strong>Crit dmg:</strong>
  <%= @attack_type_template.crit_dmg %>
</p>

<p>
  <strong>Character template:</strong>
  <%= @attack_type_template.character_template_id %>
</p>

<p>
  <strong>Item template:</strong>
  <%= @attack_type_template.item_template_id %>
</p>

<p>
  <strong>Monster:</strong>
  <%= @attack_type_template.monster_id %>
</p>

<%= link_to 'Edit', edit_attack_type_template_path(@attack_type_template) %> |
<%= link_to 'Back', attack_type_templates_path %>
