<p id="notice"><%= notice %></p>

<h1>Listing Resists</h1>

<table>
  <thead>
    <tr>
      <th>Physical</th>
      <th>Fire</th>
      <th>Water</th>
      <th>Earth</th>
      <th>Holy</th>
      <th>Necrotic</th>
      <th>Nature</th>
      <th>Character</th>
      <th>Resist template</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resists.each do |resist| %>
      <tr>
        <td><%= resist.physical %></td>
        <td><%= resist.fire %></td>
        <td><%= resist.water %></td>
        <td><%= resist.earth %></td>
        <td><%= resist.holy %></td>
        <td><%= resist.necrotic %></td>
        <td><%= resist.nature %></td>
        <td><%= resist.character_id %></td>
        <td><%= resist.resist_template_id %></td>
        <td><%= link_to 'Show', resist %></td>
        <td><%= link_to 'Edit', edit_resist_path(resist) %></td>
        <td><%= link_to 'Destroy', resist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resist', new_resist_path %>
