<p id="notice"><%= notice %></p>

<p>
  <strong>Physical:</strong>
  <%= @resist.physical %>
</p>

<p>
  <strong>Fire:</strong>
  <%= @resist.fire %>
</p>

<p>
  <strong>Water:</strong>
  <%= @resist.water %>
</p>

<p>
  <strong>Earth:</strong>
  <%= @resist.earth %>
</p>

<p>
  <strong>Holy:</strong>
  <%= @resist.holy %>
</p>

<p>
  <strong>Necrotic:</strong>
  <%= @resist.necrotic %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @resist.nature %>
</p>

<p>
  <strong>Character:</strong>
  <%= @resist.character_id %>
</p>

<p>
  <strong>Resist template:</strong>
  <%= @resist.resist_template_id %>
</p>

<%= link_to 'Edit', edit_resist_path(@resist) %> |
<%= link_to 'Back', resists_path %>
