<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @armor_template.type %>
</p>

<p>
  <strong>Percent:</strong>
  <%= @armor_template.percent %>
</p>

<%= link_to 'Edit', edit_armor_template_path(@armor_template) %> |
<%= link_to 'Back', armor_templates_path %>
