<%= f.error_notification %>
<ul class="nav nav-tabs">
  <li class="active"><a href="#items_t" data-toggle="tab">Предметы</a></li>
  <li><a href="#item_resists" data-toggle="tab">Сопротивления</a></li>
  <li><a href="#attack" data-toggle="tab">Тип атаки</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="items_t">
    <div class="row">
      <div class="col-md-4">
        <%= f.simple_fields_for :image, f.object.build_image do |ff| %>
            <div class="avatar">
              <div class="preview img-wrapper"></div>
              <%= render partial: 'images/form', locals: {f: ff} %>
            </div>
        <% end %>
      </div>
      <div class="col-md-8">
        <div style="margin: 20px">
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :item_type %>
          <%= f.input :equipped %>
          <%= f.input :strength %>
          <%= f.input :intellect %>
          <%= f.input :agility %>
          <%= f.input :character_template_id, as: :hidden %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="item_resists">
    <div class="row">
      <div class="col-md-12">
        <div style="margin: 20px">
          <h2>Сопротивление</h2>
          <%= f.simple_fields_for :resist_templates, f.object.resist_templates.build do |ff| %>
              <%= render partial: 'resist_templates/form', locals: {f: ff} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="attack">
    <div class="row">
      <div class="col-md-12">
        <div style="margin: 20px">
          <h2>Типы атак</h2>
          <%= f.simple_fields_for :attack_type_template, f.object.build_attack_type_template do |ff| %>
              <%= render partial: 'attack_type_templates/form', locals: {f: ff} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>