<p id="notice"><%= notice %></p>

<h1>Listing Item Templates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Item type</th>
      <th>Equipped</th>
      <th>Strength</th>
      <th>Intellect</th>
      <th>Agility</th>
      <th>Character template</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_templates.each do |item_template| %>
      <tr>
        <td><%= item_template.name %></td>
        <td><%= item_template.description %></td>
        <td><%= item_template.item_type %></td>
        <td><%= item_template.equipped %></td>
        <td><%= item_template.strength %></td>
        <td><%= item_template.intellect %></td>
        <td><%= item_template.agility %></td>
        <td><%= item_template.character_template_id %></td>
        <td><%= link_to 'Show', item_template %></td>
        <td><%= link_to 'Edit', edit_item_template_path(item_template) %></td>
        <td><%= link_to 'Destroy', item_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item template', new_item_template_path %>
