<p id="notice"><%= notice %></p>

<h1>Listing Resist Templates</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Percent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resist_templates.each do |resist_template| %>
      <tr>
        <td><%= resist_template.type %></td>
        <td><%= resist_template.percent %></td>
        <td><%= link_to 'Show', resist_template %></td>
        <td><%= link_to 'Edit', edit_resist_template_path(resist_template) %></td>
        <td><%= link_to 'Destroy', resist_template, method: :delete, data: {confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resists template', new_resist_template_path %>
