<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @weekness_template.type %>
</p>

<p>
  <strong>Percent:</strong>
  <%= @weekness_template.percent %>
</p>

<%= link_to 'Edit', edit_weekness_template_path(@weekness_template) %> |
<%= link_to 'Back', weekness_templates_path %>
