<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @armor.type %>
</p>

<p>
  <strong>Percent:</strong>
  <%= @armor.percent %>
</p>

<%= link_to 'Edit', edit_armor_path(@armor) %> |
<%= link_to 'Back', armors_path %>
